#grid-flex{
display: flex;
flex-wrap: wrap;
}


.grid-item{
    border: 1px solid blue;
    padding: 10px;   
}

#grid-flex .grid-item:nth-child(n+2){
    flex-basis: calc(100% * (1/4) - 22px);
}
#grid-flex .grid-item:first-child{
    flex-basis: calc(100% * (1/2) - 22px);
}

#grid-flex img{
    display: block;
    width: 100%;
}